.container {
  min-height: 100vh;
  position: relative;
}

footer {
  text-align: center;
  padding: 10px;
  background-color: #003a7f;
  color: #fff;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
