.custom-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #003a7f;
}

.logo {
  width: 80px;
  height: 80px;
}

h2 {
  font-size: 60px;
}

.link {
  color: #fff !important;
}

.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.link-nav {
  text-decoration: none;
  font-weight: bold;
  color: #fff !important;
  margin: 0 10px;
}

.link-nav:hover {
  text-decoration: underline;
}
