/* styles/Header.css */
.custom-navbar {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background-color: #003a7f;
}

.logo {
  width: 80px;
  height: 80px;
}

h2 {
  font-size: 60px;
}

/* Estilos para a barra de navegação */
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

/* Estilos para os links de navegação */
.link-nav {
  text-decoration: none;
  font-weight: bold;
  color: #fff !impotant; /* Cor do texto dos links */
  margin: 0 10px; /* Espaçamento entre os links */
}

.link-nav:hover {
  text-decoration: underline;
}
