@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

h2 {
  text-align: center;
}

h1, h2, p, span {
  font-family: 'Wix Madefor Text', sans-serif;
}

main {
  background-color: #8295c2;
  padding: 10px;
  width: 100%;
  height: 90%; 
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.pagination-container .btn {
  margin: 0 30px 0 30px;
}

.card {
  background-color: #f5f5f5;
}
