@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, p, span {
  font-family: 'Wix Madefor Text', sans-serif;
}

main {
  background-color: #8295c2;
  padding: 10px;
}

.card {
  background-color: #f5f5f5;
}

.carousel-card {
  background-color: #bbb;
  width: 70%;
  height: auto;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  align-items: center;
}

.carousel-card img {
  max-width: 100%;
  height: auto;
}
