* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

main {
  background-color: #8295c2;
  padding: 10px;
}

.card {
  background-color: #b2b2b2;
}

.carousel-card {
  background-color: #bbb;
  width: 70%;
  height: 200px;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
}